<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"] - ObjectDetection</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />

    <environment names="Development,Staging,Production">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css"
              asp-fallback-href="~/lib/materialize/dist/css/materialize.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"/>
        <link rel="stylesheet" href="~/css/style.css" asp-append-version="true"/>
    </environment>

</head>
<body class="grey lighten-2">

    <nav class="light-blue lighten-1" role="navigation">
        <div class="nav-wrapper">
            <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li>@Html.ActionLink("Blobs", "Index", "Blobs")</li>
                <li>@Html.ActionLink("Devices", "Index", "Devices")</li>
            </ul>
        </div>
    </nav>

    <div class="section no-pad-bot" id="index-banner">
        <div class="container" style="width: 90%">
            @RenderBody()
        </div>
    </div>

    <footer class="page-footer grey darken-2">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <p class="white-text">ObjectDetection v1</p>
                    <p class="grey-text text-lighten-4">Raspberry Pi</p>
                </div>
            </div>
        </div>
    </footer>

    <environment names="Development,Staging,Production">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"
                asp-fallback-src="~/lib/materialize/dist/js/materialize.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("scripts", required: false)
</body>
</html>