@model ObjectDetection.WebApp.ViewModels.BlobViewModel

@{
    ViewData["Title"] = "Blobs";
}

<div class="row" id="albums">
    @if (Model.Blobs.Length == 0)
    {
        <p>No blobs available.</p>
    }
    else
    {
        foreach (var blob in Model.Blobs)
        {
            <div class="col">
                <div class="card small">
                    <div class="card-image">
                        <div class="left-align">
                            <a class="btn-floating btn-large waves-effect waves-light red" href="@Url.Action("RemoveBlob", "Blobs", new { blobId = @blob.Id })">
                                <i class="large material-icons">delete_forever</i>
                            </a>
                            <a target="_blank" href="@blob.Url">
                                <img style="object-fit: cover;" src="@blob.Url" alt="" width="300" height="200">
                            </a>
                        </div>
                    </div>
                    <div class="card-content">
                        <a href=""><h5>Created: @blob.DateTime.ToString("F")</h5></a>
                    </div>
                </div>
            </div>
        }
    }
</div>